
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.header{
    border-bottom: 1px solid #e7e9fc;
}
.conteiner {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

}
.header-container {
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
}

.logo>span.custom-class {
    color: #2e2f42;
}

.menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item{
    margin-right: 40px;
    margin-right: 0;
    padding: 24px 0;
}
.custom-class{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;   
}
.custom-class:hover {
    color: #404bbf;
}
.custom-class:focus {
    color: #404bbf;
    outline: none;
}


.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address:hover {
    color: #404bbf;
}

.address:focus{
    color: #404bbf;
    outline: none;
}

.business {
    background-color: #2e2f42;
}

.business-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.business-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.business-button:hover,
.business-button:focus {
    background-color: #404BBF;
}

.list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-member-img{
    display: block;
}

.team-member {
    background-color: #FFFFFF;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-img{
    display: block;
}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.project-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.footer{
    background-color: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-description {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}


.footer-logo>span.footer-logo{
    color: #f4f4fd;

}


